.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row !important;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: .1rem solid #CCC;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.p-3 {
  padding: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.ml-4 {
  margin-left: 2.25rem;
}

.pl-0 {
  padding-left: 0;
}

.fa-ul {
  list-style-type: none;
}

.calendar .fa-ul {
  margin-left: 30px !important;
}

.align-items-center {
  align-items: center;
}

.bg-gray-lightest {
  background-color: #EFEFEF;
}

.text-center {
  text-align: center !important;
}

.display-3 {
  font-size: 6.3rem;
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

.text-primary {
  color: #B01E24;
}

.btn {
  border-radius: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .1rem solid transparent;
  padding: .75rem 2.4rem;
  font-size: 1.4rem;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-secondary {
  color: #666;
  background-color: #fff;
  border-color: #CCC;
}

.btn-secondary.active, .btn-secondary:focus, .btn-secondary:hover {
  color: #fff;
  background-color: #B01E24;
  border-color: #B01E24;
}

.calendar .padded-row {
  width: 100%;
}

.calendar {
  flex-direction: column;
  font-family: "benton-sans", sans-serif;
}

.calendar-div {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 972px) {
  .calendar .padded-row {
    width: 50%;
  }

  .calendar {
    flex-direction: row;
  }

  .calendar .padded-row.full {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .calendar-div {
    flex-direction: row;
  }
}
